.about {
    display: flex;
    align-items: center;
  }

  .about__text {
    text-align: center;
    background-color: brown;
  }

  .about__image {
    flex: 0 0 auto;
    margin-right: 20px; /* Adjust the margin as desired */
    width: 500px;
    height: 300px;
  }

  .about__image img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
    height: 100%;
  }
