#donation-b {
    background-color: #2c2f66;
    border-color: #2c2f66;

}
#donation-b a{
    color: white!important
}
#donation-b:hover {
    background-color: #FFFAF4;
    border-color: #2c2f66;
}
#donation-b:hover  a{
   color: black!important
}