.App {
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  position: relative;
  min-height: 100vh;
}
@media (max-width: 768px) {
  .App {
   margin:0;
    background-color: white;
    position: relative;
    min-height: 100vh;
  }


}


